:root {
  --black: rgb(29, 29, 30);
  --white: rgb(249, 245, 245);
  --fuschia: rgb(220, 76, 215);
  --orange: rgb(255, 98, 0);
  --green: rgb(12, 222, 12);
  --blue: rgb(0, 149, 255);
  --riso-blue: rgb(50, 85, 164);
  /* --riso-blue: rgb(0, 120, 191); */
  --yellow: rgb(255, 251, 0);
  --modal-img-width: 400px;
  --border: 1px solid var(--blue);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Epilogue', sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  background-color: var(--white);
  cursor: crosshair;
  display: flex;
}

main {
  height: fit-content;
  overflow: scroll;
  width: 85vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em;
}

nav {
  height: 100vh;
  width: 15vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 0;
  border-style: dotted;
  border-color: var(--riso-blue);
  padding: 1em;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

span {
  font-style: italic;
}

.name {
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
}

.selected {
  text-decoration: underline;
  color: var(--riso-blue);
}

.spacer {
  width: 15vw;
}

.category {
  margin: 0.5em 0;
}

.category:hover {
  text-decoration: underline;
  color: var(--riso-blue);
}

.tile-wrapper {
  width: 33%;
  height: calc(40vh - 0.3em);
  padding: 0.5em;
  box-sizing: border-box;
}

.project-tile {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.project-tile h3 {
  background-color: var(--riso-blue);
  color: var(--white);
  margin: 0;
  padding: 0.5em 0;
}

.project-tile div {
  border: 1px dashed var(--riso-blue);
  height: 80%;
  overflow: hidden;
}

.project-tile div img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.project-details {
  padding: 0 2em;
}
