:root {
  --black: rgb(29, 29, 30);
  --white: rgb(249, 245, 245);
  --fuschia: rgb(220, 76, 215);
  --orange: rgb(255, 98, 0);
  --green: rgb(12, 222, 12);
  --blue: rgb(0, 149, 255);
  --yellow: rgb(255, 251, 0);
  --modal-img-width: 400px;
  --border: 1px solid var(--blue);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Epilogue', sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  background-color: var(--white);
  cursor: crosshair;
}

body.invert {
  background-color: var(--black);
}

main {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
}

section {
  width: 100vw;
  display: flex;
}

#about,
#projects {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects {
  position: fixed;
  bottom: 6em;
}

#contact {
  position: fixed;
  bottom: 0;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
  box-sizing: border-box;
  padding: 1em;
}

h1:hover,
h2:hover,
h3:hover,
p:hover {
  cursor: crosshair;
}

p {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--blue);
  transition: letter-spacing 1s ease;
  padding: 0.45em 0.5em 0.25em 0.5em;
}

a:hover,
a:visited:hover {
  color: var(--white);
  background-color: var(--blue);
}

a:visited {
  color: var(--blue);
}

h1,
h2 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  color: var(--orange);
}

h2 {
  color: var(--fuschia);
}

h3 {
  color: var(--green);
}

span {
  transition: all 1s ease;
}

span:hover {
  letter-spacing: 0.25em;
}

.modal {
  border: var(--border);
  width: var(--modal-img-width);
  height: auto;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  background-color: var(--white);
  color: var(--blue);
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.active {
  opacity: 1;
}

.modal p {
  padding: 0.5em;
}

img {
  width: var(--modal-img-width);
  height: auto;
  border-bottom: var(--border);
}

#kalaca-modal {
  top: 5%;
  left: 2.5%;
}

#synth_world-modal {
  top: 35%;
  left: 15%;
}

#ld-modal {
  top: 25%;
  left: 35%;
}

#flpxld-modal {
  top: 35%;
  left: 60%;
}

#forming-modal {
  top: 60%;
  left: 70%;
}
